<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
    @*@start snippet*@
        <h3>Please enter your phone number, and you will be connected to MMMMMMMMMM</h3>
        <form action="makecall.cshtml" method="post">
            <span>Your Number: <input type="text" name="called" /></span>
            <input type="submit" value="Connect me!" />
        </form>
    @*@end snippet*@
    </body>
</html>
