@model Web.Models.PhoneModel
@{
    ViewBag.Title = "Return Call";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Html.ActionLink((string)ViewBag.Title, "Index", null, new { @id = "homeLink" })</h1>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}
<h3>Fix No Shows and Cancellation Increase Revenue!!</h3>
@using (Html.BeginForm("Try", "Home", FormMethod.Post)) {

@: Phone: @Html.TextBoxFor(m => m.Phone)<br />
@: Text to Speech: @Html.TextBoxFor(m => m.Text)
@: <button type="submit">Try Now!!!</button>
}

@if (!String.IsNullOrEmpty(ViewBag.ResultMessage))
{
	@: <h2>@ViewBag.ResultMessage</h2>
}